body {
    background-color:lightblue
}

h1 {
    color:white;
    background-color: blue;
    font-family: Garamond, sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

ul {
    font-family: Garamond;
    font-size: 24px;
}

.buttons {
    float: left;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.buttons li a {
    text-decoration: none;
    color: black;
    display: block;
}

.buttons li a:hover {
    display: inline-block;
    vertical-align: middle;
    content: url(images/odin.png)
}
